@{
    ViewData["Title"] = "Home Page";
}

<div class="bienvenida">
    <h1 class="display-4">¡Bienvenidos!</h1>
    <p>Este es el examen del modulo 3 del plan de capacitación del semillero de desarrolladores</a>.</p>
</div>
